@import '@react-page/editor/lib/index.css';
@import '@react-page/plugins-divider/lib/index.css';
@import '@react-page/plugins-html5-video/lib/index.css';
@import '@react-page/plugins-spacer/lib/index.css';
@import '@react-page/plugins-slate/lib/index.css';


.react-page-controls-mode-toggle-button-inner{
    button.MuiButtonBase-root.MuiFab-root{
        width: 40px;
        height: 40px;
        svg.MuiSvgIcon-root{
            font-size: 1.1rem;
        }
    }
}
