div.DraftEditor-root {
	width: 100%;
}

div.DraftEditor-editorContainer {
	border: 1px solid #bebebe;
	padding: 6px 12px;
	border-radius: 4px;
}

div.public-DraftEditorPlaceholder-root {
	color: #bebebe;
	padding: 4px 12px;
}
