.dropdown-list {
	background-color: transparent;

	&.w--open {
		margin-left: -74px;
	}
}

@media screen and (min-width: 1440px) {
	.container-default-1209px {
		max-width: 1320px;
	}

	.dropdown-list.w--open {
		margin-left: 0px;
	}
}

.menu-grid-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 40px 38px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 24px;
	background-color: #fff;
	box-shadow: 0 -4px 20px 0 rgba(11, 11, 44, 0.04),
		0 40px 44px 0 rgba(0, 0, 0, 0.06);
}

.w-layout-grid {
	display: -ms-grid;
	display: grid;
	grid-auto-columns: 1fr;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	-ms-grid-rows: auto auto;
	grid-template-rows: auto auto;
	grid-row-gap: 16px;
	grid-column-gap: 16px;
}

.menu-grid {
	display: -ms-grid;
	display: grid;
	width: 820px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	justify-items: stretch;
	-webkit-box-align: start;
	-webkit-align-items: start;
	-ms-flex-align: start;
	align-items: start;
	grid-auto-columns: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	-ms-grid-columns: auto auto;
	grid-template-columns: auto auto;
	-ms-grid-rows: auto;
	grid-template-rows: auto;
}

.mega-menu-title {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 20px;
	color: #fff;
}

.mega-menu-title.hidden-mobile {
	display: none;
}

.menu-2-columns {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.mega-menu-column-3 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.mega-menu-column-4 {
	margin-top: 32px;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.mega-menu-column-1 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.mega-menu-link {
	margin-bottom: 0px;
	padding: 16px;
	border-bottom: 0px solid #fff;
	background-color: #0b0b2c;
	color: hsla(0, 0%, 100%, 0.65);
	font-size: 22px;
	line-height: 24px;

	&:hover {
		background-color: #1b1b55;
		color: #fff;
	}

	&.w--current {
		color: #fff;
		font-weight: 700;
	}
}
