.custom-bullet {
  margin-bottom: 1rem;
  margin-top: 0;

  li {
    display: block;
    transition: .4s ease-out;

    &.error-bullet {
      color: var(--hiq-color-danger);

      &.password-repeating-chars {
        display: inherit;
      }
    }

    &.success-bullet {
      color: var(--hiq-color-success);
    }

    &.is-hidden-element {
      display: none;
    }

    &.password-different-password,
    &.password-different-password.success-bullet,
    &.password-repeating-chars.success-bullet,
    &.password-repeating-chars,
    &.password-different-password.error-bullet,
    &.password-different-password {
      // display: none;
    }
  }
}

.help-block.warning {
  color: var(--hiq-color-danger);
}
