.sidebar {
	background-color: var(--hiq-white);
	height: 100vh;
	left: 0;
	opacity: 0;
	order: 2;
	position: fixed;
	top: 0;
	transition: opacity 0.3s ease-out, visibility 0s linear 0.3s;
	visibility: hidden;
	width: 100vw;
	z-index: 1010;

	@media ($desktop) {
		background-color: transparent;
		flex: 0 0 12rem;
		height: auto;
		margin-left: 4rem;
		opacity: 1;
		position: relative;
		visibility: visible;
		width: auto;
		z-index: auto;
	}
}

html {
	height: 100%;
}

.mobile-toc-visible {
	height: 100%;
	overflow: hidden;

	&.sidebar {
		opacity: 1;
		transition-delay: 0s;
		visibility: visible;
	}

	&.toc {
		transform: translateY(0);
	}

	&.mobile-toc-toggle {
		transform: rotate(45deg);
	}
}

.toc {
	-ms-scroll-chaining: none;
	background-color: var(--hiq-white);
	display: none;
	height: 100vh;
	overscroll-behavior: contain;
	padding-top: 2rem;
	position: fixed;
	top: 0;
	transition: transform 0.3s ease-out;
	width: 100%;
	z-index: 100;

	&::-webkit-scrollbar {
		display: none;
	}

	@media ($desktop) {
		display: block;
		flex-shrink: 0;
		margin-top: var(--header-height);
		height: calc(100vh - var(--navbar-height));
		transform: translateY(0);
		width: var(--navbar-desktop-width);
		z-index: 2;

		+ .main-content {
			left: var(--navbar-desktop-width);
			position: relative;
			width: calc(100% - var(--navbar-desktop-width));
		}
	}

	ul {
		list-style: none;
		padding: 0;

		ul {
			margin: 0.5rem 0 1.25rem;
		}
	}
}

.toc-wrapper {
	padding-bottom: 6rem;

	@media ($desktop) {
		padding-bottom: 2rem;
		border-right: 1px solid var(--hiq-gray-lighter);
	}
}

.toc-entry {
	a {
		border-left: 3px solid transparent;
		box-shadow: none !important;
		color: inherit;
		display: inline-block;
		padding: 0.125rem 2rem;
	}
}

.toc-h1 {
	margin-bottom: 0.75rem;
	&.active > a {
		border-left-color: var(--hiq-color-primary);
		color: var(--hiq-color-primary);
	}

	> a {
		color: var(--hiq-gray);
		font-size: 0.875rem;
		font-weight: 600;
		letter-spacing: 0.02em;
		text-transform: uppercase;

		&:hover {
			color: var(--hiq-color-primary);
		}
	}
}

.toc-h2 {
	> a:hover {
		color: var(--hiq-gray);
	}

	ul {
		display: none;
	}
}

.mobile-toc-toggle {
	display: block;
	position: fixed;
	right: 1.5rem;
	bottom: 2rem;
	z-index: 1020;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: var(--hiq-color-primary);
	box-shadow: 0 2px 16px rgba(0, 0, 0, 0.35);
	font-size: 2.2rem;
	font-weight: normal;
	line-height: 0;
	color: var(--hiq-white);
	transition: transform 0.2s ease-out;

	@media ($desktop) {
		display: none;
	}

	&:hover,
	&:focus,
	&:active {
		border-color: var(--hiq-color-primary);
		background-color: var(--hiq-color-primary);
	}

	span {
		display: block;
		left: 50%;
		position: absolute;
		top: calc(50% - 0.2rem);
		transform: translate(-50%, -50%);
	}
}
