// div.course-main {
// 	grid-column-gap: 50px;

// 	div.course-image-block {
// 		display: grid;
// 		flex-direction: row;

// 		grid-auto-columns: 1fr;
// 		grid-column-gap: 30px;
// 		grid-row-gap: 30px;
// 		grid-template-columns: 1fr 1fr;
// 		grid-template-rows: auto auto auto;

// 		.consulting-hero-image-one {
// 			grid-column-end: 2;
// 			grid-column-start: 1;
// 			grid-row-end: 3;
// 			grid-row-start: 1;
// 			background-color: #ddb0ff;

// 			&.border-radius-eighty {
// 				-webkit-box-flex: 0;
// 				-webkit-flex: 0 50%;
// 				-ms-flex: 0 50%;
// 				flex: 0 50%;
// 				border-top-left-radius: 80px;
// 				border-bottom-right-radius: 80px;
// 			}
// 		}

// 		.consulting-hero-image-four {
// 			grid-column-end: 3;
// 			grid-column-start: 2;
// 			grid-row-end: 4;
// 			grid-row-start: 2;
// 		}
// 	}
// }

.course-card-details-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.why-us-content {
		max-width: 375px;
	}
	.level-wrapper {
		display: flex;
		gap: 24px;
	}
	a {
		transition: color 350ms ease;
		color: #3434ff;
		font-weight: 400;
		text-decoration: none;

		&:hover {
			color: #2c23d2;
		}
	}
}

.why-study-icon {
	width: 110px;
	margin-bottom: 17px;
}

.level-text {
	color: #0b0b2c;
	line-height: 1.111em;
	font-weight: 600 !important;
}

.level-text:hover {
	color: #3434ff;
}

.course-card-price {
	color: #0b0b2c;
	font-size: 20px;
	line-height: 1.1em;
	font-weight: 500;
}
