.svg-h4-white{
	svg {
		fill: white;
		font-size: 12px;
		height: 30px;
		width: 30px;
	}

	h4 {
		color: white;
		font-size: 18px;
	}
	-webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 75%, rgba(0, 0, 0, 0.5) 100%);

	div {
		div {
			min-width: fit-content;
		}
	}
}