@mixin horizontal-list-li {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		padding: 0 1rem;

		@media ($desktop) {
			~ li {
				border-left: 1px solid var(--hiq-gray-lighter);
			}
		}
	}
}

$default-degree: 15deg;

@mixin linear-gradient-text($from: rgb(102, 0, 255), $to: rgb(255, 0, 102)) {
	// backgroundImage: 'linear-gradient(15deg, rgb(102, 0, 255) 0%, rgb(255, 0, 102) 100%)';
	// @debug "$from:" $from == "";

	background-image: linear-gradient(15deg, #{$from} 0%, #{$to} 100%);
	display: inline-block;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
